# Исключаем папку node_modules, так как она содержит установленные пакеты, которые могут быть большого размера
node_modules/

# Исключаем папку dist, так как она содержит сгенерированные файлы и не требуется для версионирования
dist/

# Исключаем файлы с расширениями .log, .log.*, .txt и т.п., которые могут быть созданы в процессе разработки
*.log*
*.txt

# Исключаем файлы настроек редактора
.vscode/
.idea/

# Исключаем временные файлы и папки
.DS_Store
Thumbs.db
__MACOSX/

# Исключаем файлы с настройками, которые могут содержать личную информацию (не добавляйте свои настройки в репозиторий)
*.env
.env.local
.env.*.local

# Исключаем файлы с учётом конфиденциальности, содержащие секреты или пароли (не добавляйте их в репозиторий)
*.key
*.pem

# Если у вас есть другие файлы или папки, которые не требуется добавлять в репозиторий, добавьте их сюда
# ниже этой строки.
