@font-face {
    font-family: 'CustomFont';
    src: url('../assets/fonts/vcrosdmonorusbyd.ttf') format('truetype');
}
@font-face {
    font-family: 'alundratext';
    src: url('../assets/fonts/alundratext.eot'); /* IE9 Compat Modes */
    src: url('../assets/fonts/alundratext.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../assets/fonts/alundratext.woff2') format('woff2'), /* Super Modern Browsers */
    url('../assets/fonts/alundratext.woff') format('woff'), /* Pretty Modern Browsers */
    url('../assets/fonts/alundratext.ttf')  format('truetype') /* Safari, Android, iOS */
}
html, body {
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    background-color: #757161;
}
/* Полноэкранный размер для игрового канваса */
canvas {
    display: block;
    width: 100%;
    height: 100%;
}